body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  color: #ffffff;
  font-size: 4em;
  text-align: center;
/*  margin-bottom: 10%;
  padding: 10%;*/
}

.image {
  width: 15%;

}

main {
 background-color: #cfd8dc;
 display: flex;
 justify-content: space-evenly;
}

.input-section {
  background-color: #455a64;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  flex-direction: column;

} 

.title-section {
  display: flex;
  align-items: center;
  padding: 1em 1em 1em 1em;

}

.website-title-input {
  padding: 1em 6em 1em 1em;
  font-size: 2em;

}

.url-section {
  display: flex;

}

.url-input {
  padding: 1em 6em 1em 1em;
  font-size: 2em;

}

.enter-button-section {
  display: flex;
  padding: 0 0 50% 0;

}

.button-enter {
  background-color: #ffc107;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
 /* padding: 1em 8em 1em 1em;*/
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;  
}

.button-enter:hover {
  background-color: #ffd773;
  color: #ffffff;
}

.button-enter:disabled {
  background-color: #ccc;
}

.card-section {
  background-color: #cfd8dc;
  height: 100vh;
  padding: 1em;
  width: 50%;

}

.card {
  background-color: #ffffff;
  border: 2px solid #607d8b;
  border-color: #607d8b;
  margin: 0 auto 1em;
  padding: 0em 2em 1em 1.5em;
  width: 25em;
}

.card-title-article {
  box-sizing: border-box;
  color: #455a64;
}

.card-website-title {
  color: #455a64;
  font-size: 1.5em;
  font-weight: 800;
  line-height: .75em;
  text-underline-position: 
}

.card-url-article {
  border-top: .15em solid #cfd8dc;
  border-bottom: .15em solid #cfd8dc;
}

.card-url {
  color: #607d8b;
  font-weight: 400;

}

.read-delete-article {
  padding: .5em 0em .5em 0em;
}

.button-read {
  border-radius: none;
  float: left;

}

.button-delete {
  float: right;
}

.bookmark-counters {
  margin: 1em 1em 1em 1em ;
}

.read {
  background-color: #f2f4f4;
}

.read .button-read {
/*  border: 10px solid;
  font-style: italic;*/
  color: red;
}

@ media screen and (max-width: ) {
  main {
    display: flex;
    flex-direction: column;
  }

  .input-section {
    width: 900px;
  }
}


