body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  color: #ffffff;
}

.image {

}

main {
 background-color: #455a64;
}

.title-section {

}

.website-title-input {

}

.url-section {

}

.url-input {

}

.enter-button-section {

}

.button-enter {
  background-color: #ffc107;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.button-enter:hover {
  background-color: #ffd773;
  color: #ffffff;
}

.card-section {
  background-color: #cfd8dc;
  height: 100vh;
}

.card {
  background-color: #ffffff;
  border-color: #607d8b;
}

.card-title-article {
  color: #455a64;
  font-weight: bold 800;

}

.card-website-title {
  color: #455a64;
}

.card-url-article {
  border: 10px 0px 10px 0px solid;
  border-color: #cfd8dc;

}

.card-url {

}

.read-delete-article {

}

.button-read {

}

.button-delete {

}


.read-class-change {
  border: 10px solid;
  font-style: italic;
  color: red;
}

